<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>歪秀购物</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css">
    <link href="./favicon.ico" type="image/x-icon" rel="icon">
    <link href="./iTunesArtwork.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>

<div class="aui-container">
    <div class="aui-page">
        <div class="header">
            <div class="header-background"></div>
            <div class="toolbar statusbar-padding">
                <button class="bar-button back-button" onclick="history.go(-1);" dwz-event-on-click="click"><i class="icon icon-back"></i></button>
                <!--<a class="bar-button" data-href="home.html?dwz_callback=home_render" target="navTab" rel="home"><i class="icon icon-back"></i></a>-->
                <div class="header-title">
                    <div class="title">购物车</div>
                </div>
            </div>
        </div>
        <div style="height:50px"></div>
        <div class="main_con">
  <!--          <div class="main_con_allchoose ">
                &lt;!&ndash;<span class="circle"></span>全选 <a href="javascript:del_goods()"><img src="/static/images/icon-png/delete-icon.png" /></a>&ndash;&gt;
            </div>-->
            <div class="main_con_goods">
                <ul id="goodlist">

                    <!--					<li>
                                            <section class="aui-crl">
                                                <span class="circle"></span>
                                                <img src="/static/images/img/b4.jpg">
                                            </section>
                                            <div style="width:auto; padding-left:10px">
                                                <h2>2017春装新款时尚女装宽松贴布开衫针织衫NG5836</h2>
                                                <p class="aui-o">颜色分类:黑色,尺码:M</p>
                                                <p class="money"><em class="aui-redd">90￥</em>
                                                </p>
                                            </div>
                                        </li>-->

                </ul>
            </div>
        </div>
        <div style="height:1px"></div>
        <!--内容信息 end-->







        <!--无商品页面 start-->
        <div class="no_goods">
            <!--<img src="/static/images/no_goods_ico.png" />-->
            <p>购物车里没有东西哦~<br />快去商城逛逛吧！</p>
            <a href="/index">即刻添置</a>
        </div>
        <!--无商品页面 end-->
    </div>
</div>

<!--获取信息-->
<script>
    var ht = '';
    function viewUser() {
        var url = '/usernode/getUser';
        var userId = $("#userId").val();
        var nickName = $("#nickName").val();
        var userName = $("#userName").val();
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            async: false,
            data: {
                userId:userId,
                nickName:nickName,
                userName:userName
            },
            success: function (data) {
                viewGoodInfo(data.userId)
                //console.log(data);
            }
        })
    };
</script>

<script>
    function viewGoodInfo(nowUserId) {
        var url = '/Car/selInfo?userId='+nowUserId;
        var goodId = $("#goodId").val();
        var doTime = $("#doTime").val();
        var state = $("#state").val();
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            async: false,
            data: {
                goodId: goodId,
                doTime:doTime,
                state:state
            },
            success: function (data) {
                // console.log(data);
                //ht = '';
                for (var i = 0; i < data.length; i++) {
                    viewGoodDetail(data[i].goodId,data[i].doTime,data[i].state);
                }
                $("#goodlist").html(ht);
            }
        })

    };

    function viewGoodDetail(nowGoodId,doTime,state) {
        var url = '/PhoneNode/findByGoodId?goodId='+nowGoodId;
        var goodId = $("#goodId").val();
        var goodName = $("#goodName").val();
        var price = $("#price").val();
        var goodPic = $("#goodPic").val();
        var lstate='';
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            async: false,
            data: {
                goodId: goodId,
                goodName: goodName,//这里 : 前面一定要和json里面的字段一致.
                price: price,
                goodPic: goodPic
            },
            success: function (data) {
                if (state == 0){
                    lstate='已添加';
                }else if (state == -1){
                    lstate='已移除';
                }else{
                    lstate='已购买';
                }
                ht+='<li ><section class="aui-crl" style="padding-left:15px">';
                ht+='<a href="/page?goodId=' +data.goodId + '">';
                ht+='<img src="'+data.goodPic;
                ht+='">';
                ht+='</a>';
                ht+='</section>';
                ht+='<div style="width: 225px; padding-left: 10px;" class="">';
                ht+='<h2>'+data.goodName+'</h2>';
                ht+='<p class="aui-o">时间：'+doTime.substr(0,19)+'</p>';
                ht+='<p class="money"><em class="aui-redd">'+data.price+'￥</em></p>';
                ht+='<p class="money">状态：<em class="aui-redd">'+lstate+'</em></p>';
                ht+='</div></li>';
            }
        })
    };
</script>


<script>
    window.onload = function(){
        viewUser();

    }
</script>


<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/car/car-js.js"></script>
<script type="text/javascript" src="/static/js/car/car-mi.js"></script>
</body>
</html>