<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>歪秀购物</title>
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link href="iTunesArtwork.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>

<div class="header">
	<div class="header-background"></div>
	<div class="toolbar statusbar-padding">
		<button class="bar-button back-button" onclick="history.go(-1);" dwz-event-on-click="click"><i class="icon icon-back"></i></button>
		<!--<a class="bar-button" data-href="home.html?dwz_callback=home_render" target="navTab" rel="home"><i class="icon icon-back"></i></a>-->
		<div class="header-title">
			<div class="title">我的收藏</div>
		</div>
	</div>
</div>
<div style="height:44px"></div>


<div>
	<div class="main_con" style="margin-bottom:0;">

		<div class="main_con_goods">
			<ul>
				<li >
					<section class="aui-crl" style="padding-left:15px">
						<img src="images/img/b5.jpg">
					</section>
					<div style="width: 225px; padding-left: 10px;" class="">
						<h2>2017春装新款时尚女装宽松贴布开衫针织衫NG5836</h2>
						<p class="aui-o">颜色分类:黑色,尺码:M</p>
						<p class="money"><em class="aui-redd">90￥</em>
							<a href="car.html" style="color:#ff5000;border:1px solid #ff5000; padding:2px 5px;font-size:12px; border-radius:3px">加入购物车</a>
						</p>
					</div>
				</li>
				<li>
					<section class="aui-crl" style="padding-left:15px">
						<img src="images/img/b6.jpg">
					</section>
					<div style="width: 225px; padding-left: 10px;" class="">
						<h2>2017春装新款时尚女装宽松贴布开衫针织衫NG5836</h2>
						<p class="aui-o">颜色分类:黑色,尺码:M</p>
						<p class="money"><em class="aui-redd">90￥</em>
							<a href="car.html" style="color:#ff5000;border:1px solid #ff5000; padding:2px 5px;font-size:12px; border-radius:3px">加入购物车</a>
						</p>
					</div>
				</li>
				<li>
					<section class="aui-crl" style="padding-left:15px">
						<img src="images/img/b7.jpg">
					</section>
					<div style="width: 225px; padding-left: 10px;" class="">
						<h2>2017春装新款时尚女装宽松贴布开衫针织衫NG5836</h2>
						<p class="aui-o">颜色分类:黑色,尺码:M</p>
						<p class="money"><em class="aui-redd">90￥</em>
							<a href="car.html" style="color:#ff5000;border:1px solid #ff5000; padding:2px 5px;font-size:12px; border-radius:3px">加入购物车</a>
						</p>
					</div>
				</li>
				<li>
					<section class="aui-crl" style="padding-left:15px">
						<img src="images/img/b8.jpg">
					</section>
					<div style="width: 225px; padding-left: 10px;" class="">
						<h2>2017春装新款时尚女装宽松贴布开衫针织衫NG5836</h2>
						<p class="aui-o">颜色分类:黑色,尺码:M</p>
						<p class="money"><em class="aui-redd">90￥</em>
							<a href="car.html" style="color:#ff5000;border:1px solid #ff5000; padding:2px 5px;font-size:12px; border-radius:3px">加入购物车</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>