<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>毕业设计</title>
	<link rel="stylesheet" type="text/css" href="/static/css/ui.css">
	<link th:href="@{./favicon.ico}" type="image/x-icon" rel="icon">
	<link th:href="@{./iTunesArtwork.png}" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body class="android">
<div class="scroll-content" >
	<div class="">
		<div class="header home-header" style="" id="headsearch">
			<div class="toolbar statusbar-padding active">
				<button class="bar-button current-city"><i class="icon icon-set" style="left:0;right: inherit"></i></button>

				<button class="bar-button icon-button"><i class="icon icon-msg"></i></button>
			</div>
		</div>
		<div class="my-info">
			<div class="my-info-background"></div>
			<img class="my-avatar" src="./iTunesArtwork.png">
			<span class="name" id="myname"></span>
			<span class="my-vip" style="background:none" id="mynum"></span>
		</div>
<!--		<div class="my-car-shortcut">
			<div class="layout-column b-line" style="padding:10px 0">
				<a class="col"  rel="test" href="wait.html">
							<span class="img-icon ">
								<img class="img-icon-home" src="../static/images/icon-home/me-1.png" />
							</span>
					<span class="img-icon-name">待付款</span>
				</a>
				<a class="col"  rel="test" href="wait.html">
							<span class="img-icon ">
								<img class="img-icon-home" src="../static/images/icon-home/me-2.png" />
							</span>
					<span class="img-icon-name">待收货</span>
				</a>
				<a class="col" href="wait.html" rel="test">
							<span class="img-icon ">
								<img class="img-icon-home" src="../static/images/icon-home/me-3.png" />
							</span>
					<span class="img-icon-name">全部订单</span>
				</a>
			</div>
		</div>-->
		<div class="devider b-line"></div>
		<!-- 个人中心 begin-->
		<div>
			<div class="aui-list-cells">

				<a href="/meInfo/footprint" class="aui-list-cell">
					<div class="aui-list-cell-fl"><img src="../static/images/icon-home/me-5.png"></div>
					<div class="aui-list-cell-cn">我的足迹</div>
					<div class="aui-list-cell-fr"></div>
				</a>

				<a href="/meInfo/mycollection" class="aui-list-cell">
					<div class="aui-list-cell-fl"><img src="../static/images/icon-home/me-1.png"></div>
					<div class="aui-list-cell-cn">我的收藏</div>
					<div class="aui-list-cell-fr"></div>
				</a>

				<a href="/meInfo/order" class="aui-list-cell">
					<div class="aui-list-cell-fl"><img src="../static/images/icon-home/me-3.png"></div>
					<div class="aui-list-cell-cn">我的订单</div>
					<div class="aui-list-cell-fr"></div>
				</a>
<!--				<div class="devider b-line"></div>-->
				<!--evaluate.html-->
				<a href="" class="aui-list-cell">
					<div class="aui-list-cell-fl"><img src="../static/images/icon-home/me-9.png"></div>
					<div class="aui-list-cell-cn">我的评价</div>
					<div class="aui-list-cell-fr"></div>
				</a>
				<!--<div class="devider b-line"></div>-->
				<a href="/user/outUser" class="aui-list-cell">
					<div class="aui-list-cell-fl"><img src="../static/images/icon-home/me-11.png"></div>
					<div class="aui-list-cell-cn">退出账号</div>
					<div class="aui-list-cell-fr"></div>
				</a>
			</div>
		</div>


	</div>
</div>
<div style="height:48px"></div>
<div class="tab-bar tab-bottom">
	<a class="tab-button cached" href="/index"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
	<a class="tab-button cached" href="/recommend"><i class="tab-button-icon icon icon-exhibition" ></i><span class="tab-button-txt">推荐</span></a>
	<a class="tab-button cached" href="/classes"><i class="tab-button-icon icon icon-service" ></i><span class="tab-button-txt">分类</span></a>
	<a class="tab-button cached" href="/car"><i class="tab-button-icon icon icon-car"></i><span class="tab-button-txt">购物车</span></a>
	<a class="tab-button active" href="/me"><i class="tab-button-icon icon icon-my" ></i><span class="tab-button-txt">我的</span></a>
</div>
<script type="text/javascript" src="../static/js/jquery-1.7.1.min.js"></script>
<script class="demo-script">
	$(window).scroll(function () {
		if ($(window).scrollTop() > 100) {
			$("#headsearch").addClass("ui-form-color-nav");
		}else if($(window).scrollTop() == 0){
			$("#headsearch").removeClass("ui-form-color-nav");
		}
	});
	(function (){
		var slider = new fz.Scroll('.ui-slider', {
			role: 'slider',
			indicator: true,
			autoplay: true,
			interval: 5000
		});

		slider.on('beforeScrollStart', function(fromIndex, toIndex) {
			console.log(fromIndex,toIndex)
		});

		slider.on('scrollEnd', function(cruPage) {
			console.log(cruPage)
		});
	})();
</script>

<script>

    function viewInfo() {

        var url = '/usernode/getUser';
        var userId = $("#userId").val();
        var nickName = $("#nickName").val();
        var userName = $("#userName").val();
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            async:false,
            data: {
                userId:userId,
                nickName:nickName,
                userName:userName
            },
            success: function (data) {
                var ht1 = data.nickName;
                var ht2 = '账号：'+data.userName;
                console.log(data);
                $("#myname").html(ht1);
                $("#mynum").html(ht2);
            }
        })

    };
</script>

<script type="text/javascript">
    window.onload = function(){
        viewInfo();
    }
</script>

</body>
</html>