<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>毕业设计</title>
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link href="iTunesArtwork.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>

<body>
<div class="header">
	<div class="" style="background:none"></div>
	<div class="toolbar statusbar-padding">
		<button class="bar-button back-button" style="left:-10px" onclick="history.go(-1);" dwz-event-on-click="click"><i class="icon icon-back-s"></i></button>
		<div class="header-title">
			<div class="title"></div>
		</div>
	</div>
</div>

<div class="aui-login-ba" style="position:relative; overflow:hidden">

	<span class="aui-login-logo"><img src="images/ui-logo/aui-logo.png"></span>

	<canvas id="waves" class="waves" style="position:absolute; bottom:-60px; left:-210px;"></canvas>

</div>

<div class="aui-logon-con">
	<div class="b-line">
		<input type="text" placeholder="请输入手机号/邮箱">
	</div>
	<div class="aui-login-l">
		<a href="me.html">提交</a>
	</div>
	<div class="aui-login-wen">
		<div class="aui-login-wen-a"><a href="register.html">注册</a> </div>
		<div><a href="#">忘记密码?</a> </div>
	</div>
	<div class="aui-login-san">
		<div class="aui-login-qq"><a href="#"></a></div>
		<div class="aui-login-wb"><a href="#"></a></div>
		<div class="aui-login-wx"><a href="#"></a></div>
	</div>
</div>



<script src="js/css3/49f8daee.vendors.js"></script>
<script src="js/css3/26f2fc0d.index.js"></script>
</body>
</html>