<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>歪秀购物</title>
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css">
    <link href="./favicon.ico" type="image/x-icon" rel="icon">
    <link href="./iTunesArtwork.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>

<div class="header">
    <div class="header-background"></div>
    <div class="toolbar statusbar-padding">
        <button class="bar-button back-button" onclick="history.go(-1);" dwz-event-on-click="click"><i class="icon icon-back"></i></button>
        <!--<a class="bar-button" data-href="home.html?dwz_callback=home_render" target="navTab" rel="home"><i class="icon icon-back"></i></a>-->
        <div class="header-title">
            <div class="title">我的收藏</div>
        </div>
        <button class="bar-button"
                onclick="javascrtpt:window.location.href='/meInfo/mycollecthistory' "
                dwz-event-on-click="click">
            <h5>历史</h5>
        </button>
    </div>
</div>

<div style="height:44px"></div>
<div>
    <div class="main_con" style="margin-bottom:0;">
        <div class="main_con_goods">
            <ul id="goodlist">

            </ul>
        </div>
    </div>
</div>


<script src="/static/js/page/js/jquery.min.js"></script>
<script src="/static/js/page/js/swiper.min.js"></script>
<script src="/static/js/page/js/jquery.lazyload.js"></script>

<!--获取信息-->
<script>

    function viewUser() {
        var url = '/usernode/getUser';
        var userId = $("#userId").val();
        var nickName = $("#nickName").val();
        var userName = $("#userName").val();
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            data: {
                userId:userId,
                nickName:nickName,
                userName:userName
            },
            success: function (data) {
                viewGoodInfo(data.userId)
                //console.log(data);
            }
        })
    };
</script>

<script>
    function viewGoodInfo(nowUserId) {
        var url = '/CollectionRelation/findByUserNodeId?userId='+nowUserId;
        var collectTime = $("#collectTime").val();
        var goodId = $("#goodId").val();
        var goodName = $("#goodName").val();
        var price = $("#price").val();
        var goodPic = $("#goodPic").val();

        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            data: {
                collectTime:collectTime,
                phoneNode:{
                    goodId:goodId,
                    goodName:goodName,
                    price:price,
                    goodPic:goodPic
                }

            },
            success: function (data) {
                var ht = '';
                for (var i = 0;i < data.length;i++){
                    ht+='<li ><section class="aui-crl" style="padding-left:15px">';
                    ht+='<a href="/page?goodId=' +data[i].phoneNode.goodId + '">';
                    ht+='<img src="'+data[i].phoneNode.goodPic;
                    ht+='">';
                    ht+='</a>';
                    ht+='</section>';
                    ht+='<div style="width: 225px; padding-left: 10px;" class="">';
                    ht+='<h2>'+data[i].phoneNode.goodName+'</h2>';
                    ht+='<p class="aui-o">收藏时间：'+data[i].collectTime+'</p>';
                    ht+='<p class="money"><em class="aui-redd">'+data[i].phoneNode.price+'￥</em>';
                    ht+='<a href="" style="color:#ff5000;border:1px solid #ff5000; padding:2px 5px;font-size:12px; border-radius:3px">加入购物车</a>';
                    ht+='</p></div></li>';
                }
                $("#goodlist").html(ht);
            }
        })
    };

</script>



<script type="text/javascript">
    window.onload = function(){
        viewUser();
    }
</script>

</body>
</html>