<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>毕业设计</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/static/css/ui.css}">
    <link th:href="@{./favicon.ico}" type="image/x-icon" rel="icon">
    <!--<link th:href="@{./iTunesArtwork.png}" sizes="114x114" rel="apple-touch-icon-precomposed">-->

</head>
<body >

<div class="aui-container">
    <div class="aui-page">
        <!-- 头部 begin-->
        <div class="header">
            <div class="aui-header-bg" style="background:#ff5a5f;"></div>
            <div class="toolbar statusbar-padding" style="min-height:50px">
                <button class="bar-button back-button"></button>
                <div class="header-title" style="height:50px; padding:0 50px">
                    <div class="title aui-title-input"><input id="searchInput" type="text" placeholder="搜一搜"></div>
                </div>
                <a>
                    <button id="startSearch" class="icon aui-icon-mag"></button>
                </a>

            </div>
        </div>
        <div style="height:50px"></div>

    </div>
</div>

<div class="con">
    <section class=" menu-right padding-all " style="
    margin-left: 0px;
    margin-top: 10px;
">
        <h5>热搜</h5>
        <ul id="showhot">


        </ul></section>
</div>

<!--<div style="height:44px"></div>-->

<div>
    <div class="main_con" style="margin-bottom:0;">
        <div class="main_con_goods">
            <ul id="goodlist">

            </ul>
        </div>
        <p id="domore" class="pd-sold">加载更多</p>

    </div>
</div>

<script type="text/javascript" src="../static/js/pd/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../static/js/pd/aui-touchSlide.js"></script>

<script>
    function search() {
        page = 1 ;
        ht = '';
        var content =  $("#searchInput").val();
        var url = '/Search/sethotsearch?search='+content;
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            data: {

            },
            success: function (data) {

            },
            error: function () {
                showHot();
            }
        })

    }

    function showHot() {
        var url = '/Search/gethotsearch';
        var content = '';
        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            data: {
                content:content
            },
            success: function (data) {
               // console.log(data);
                var ht = '';
                for (var i=0;i<data.length;i++){
                    ht+=' <li id="li_'+i+'" class="w-3"> <span>'+data[i].content+'</span></li>';
                }

                $("#showhot").html(ht);
                for(var i=0;i<data.length;i++){
                    $('#li_'+i).on("click",clickSearch);
                    $('#li_'+i).on("click",search);
                    $('#li_'+i).on("click",showSearch);
                }
            }
        })

    }
    var ht = '';
    var page = 1;
    function showSearch() {
        var content =  $("#searchInput").val();
        var url = '/Search/findByNameLike?name='+content+'&page='+page;

        var goodId = $("#goodId").val();
        var goodName = $("#goodName").val();
        var shopName = $("#shopName").val();
        var price = $("#price").val();
        var comment = $("#comment").val();
        var goodPic = $("#goodPic").val();

        $.ajax({
            url: url,//url地址
            dataType: 'json',
            type: 'get',
            data: {
                goodId: goodId,
                goodName: goodName,//这里 : 前面一定要和json里面的字段一致.
                shopName: shopName,
                price: price,
                comment: comment,
                goodPic: goodPic
            },
            success: function (data) {

                for (var i = 0;i < data.length;i++){
                    ht+='<li ><section class="aui-crl" style="padding-left:15px">';
                    ht+='<a href="/page?goodId=' +data[i].goodId + '">';
                    ht+='<img src="'+data[i].goodPic;
                    ht+='">';
                    ht+='</a>';
                    ht+='</section>';
                    ht+='<div style="width: 225px; padding-left: 10px;" class="">';
                    ht+='<h2>'+data[i].goodName+'</h2>';
                    ht+='<p class="money"><em class="aui-redd">'+data[i].price+'￥</em>';
                    ht+='</p></div></li>';
                }
                $("#goodlist").html(ht);
            }
        })

    }

    function doMore() {
        page++;
        showSearch();
    }

    function clickSearch() {
        var content = $(this).children("span").text();
        document.getElementById("searchInput").value = content;
    }

</script>

<script type="text/javascript">
    window.onload = function(){
        showHot();
        $("#startSearch").on("click",search);
        $("#startSearch").on("click",showSearch);
        $("#domore").on("click",doMore);
    }
</script>


<script src="../static/js/ba/aui-scroll.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/ba/aui-index.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/ba/aui-swipe.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>