<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>歪秀购物</title>
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<link href="favicon.ico" type="image/x-icon" rel="icon">
	<link href="iTunesArtwork.png" sizes="114x114" rel="apple-touch-icon-precomposed">
</head>
<body>

<div class="header">
	<div class="header-background"></div>
	<div class="toolbar statusbar-padding">
		<button class="bar-button back-button" onclick="history.go(-1);" dwz-event-on-click="click"><i class="icon icon-back"></i></button>
		<!--<a class="bar-button" data-href="home.html?dwz_callback=home_render" target="navTab" rel="home"><i class="icon icon-back"></i></a>-->
		<div class="header-title">
			<div class="title">我的钱包</div>
		</div>
	</div>
</div>
<div style="height:44px"></div>


<div>
	<div class="aui-wallet-content">
		<span>可用余额(元)</span>
		<p>3999.00</p>
	</div>
	<div class="aui-add-cell t-line" style="padding:0">
		<div class="aui-add-fix aui-wallet-text r-line">总金额3999.00</div>
		<div class="aui-add-fix aui-wallet-text">提现金额0.00</div>
	</div>
	<div class="t-line aui-wallet-recharge">
		<a href="#">充值</a>
	</div>
</div>

</body>
</html>